.data-wrap {
  padding: 0;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  path.paths,
  line.link {
    stroke: #08c;
    stroke-width: 1px;
    fill: none;
  }
  svg.path-wrap {
    width: 100%;
    height: 210px;
  }
  circle.node {
    fill: #08c;
  }
}
