.list-wrap {
  padding: 0;
  path.paths,
  line.link {
    stroke: #08c;
    stroke-width: 1px;
    fill: none;
  }
  svg.path-wrap {
    width: 100%;
    height: 210px;
  }
  circle.node {
    fill: #08c;
  }
}
