html, body {
  background: #f3f4f5;
}
.login-wrap {
  width: 400px;
  padding: 80px 60px;
  margin: 100px auto 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #ddd;
  .or {
    margin: 0 0 0 6px;
  }
}